<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxw.coedit.mapper.EditSessionMapper">


    <delete id="deleteByFileUserSession">
        DELETE FROM edit_session
               WHERE file_id = #{fileId}
                 AND user_id = #{userId}
                 AND session_id = #{sessionId}
    </delete>


    <select id="selectByFileUserSession" resultType="com.xxw.coedit.entity.EditSession">
        SELECT *
        FROM edit_session
                 WHERE file_id = #{fileId}
                   AND user_id = #{userId}
                   AND session_id = #{sessionId}
    </select>
</mapper>
